Node-Red/gestion_laser.json
[{"id":"2a8877ff.31cac","type":"mqtt in","z":"99199b48.2dd458","name":"","topic":"labsud/laser/tag","qos":"2","broker":"c8fc14fe.09824","x":179.75,"y":385.25,"wires":[["83d8c3d7.25e5b8","95a15952.ff51b"]]},{"id":"83d8c3d7.25e5b8","type":"function","z":"99199b48.2dd458","name":"","func":"msg.topic = 'SELECT nom, prenom, laser FROM qualifications WHERE tag=\"';\nmsg.topic += msg.payload;\nmsg.topic += '\"';\nreturn msg;","outputs":1,"noerr":0,"x":354.25,"y":385.25,"wires":[["529b8705.5dc6e"]]},{"id":"529b8705.5dc6e","type":"mysql","z":"99199b48.2dd458","mydb":"a84e5547.15bb8","name":"","x":490.375,"y":384,"wires":[["669f228c.72dc6c","50c86ecf.f21e78","7532e213.c40d3c"]]},{"id":"7532e213.c40d3c","type":"function","z":"99199b48.2dd458","name":"qualification","func":"if(msg.payload.length > 0){\n    msg.payload = msg.payload[0].laser;\n} else {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":679.875,"y":496,"wires":[["a4514edf.5c61f8","16de7fd7.433ca"]]},{"id":"a4514edf.5c61f8","type":"debug","z":"99199b48.2dd458","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":864.375,"y":555.75,"wires":[]},{"id":"669f228c.72dc6c","type":"function","z":"99199b48.2dd458","name":"nom","func":"if(msg.payload.length > 0) {\n    msg.payload = msg.payload[0].nom;\n} else {\n    msg.payload = \"Inconnu\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":668.5,"y":384,"wires":[["24d23b33.100f94","438aeb81.850b1c"]]},{"id":"50c86ecf.f21e78","type":"function","z":"99199b48.2dd458","name":"prenom","func":"if(msg.payload.length > 0) {\n    msg.payload = msg.payload[0].prenom;\n} else {\n    msg.payload = \"\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":680.75,"y":272.75,"wires":[["3bde6f08.7d0ad","3ee257.df2435aa"]]},{"id":"24d23b33.100f94","type":"debug","z":"99199b48.2dd458","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":866.25,"y":332,"wires":[]},{"id":"3bde6f08.7d0ad","type":"debug","z":"99199b48.2dd458","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870.5,"y":217.75,"wires":[]},{"id":"3ee257.df2435aa","type":"mqtt out","z":"99199b48.2dd458","name":"","topic":"labsud/test/prenom","qos":"2","retain":"","broker":"c8fc14fe.09824","x":966.25,"y":273.5,"wires":[]},{"id":"438aeb81.850b1c","type":"mqtt out","z":"99199b48.2dd458","name":"","topic":"labsud/test/nom","qos":"2","retain":"","broker":"c8fc14fe.09824","x":973.375,"y":383,"wires":[]},{"id":"16de7fd7.433ca","type":"mqtt out","z":"99199b48.2dd458","name":"","topic":"labsud/test/qualification","qos":"2","retain":"","broker":"c8fc14fe.09824","x":942.125,"y":496.5,"wires":[]},{"id":"95a15952.ff51b","type":"debug","z":"99199b48.2dd458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":402.5278015136719,"y":282.19444274902344,"wires":[]},{"id":"6cbcc81f.6113f8","type":"mqtt in","z":"99199b48.2dd458","name":"","topic":"labsud/laser/password","qos":"2","broker":"c8fc14fe.09824","x":158.75,"y":511.75,"wires":[["599d995.0d873e8"]]},{"id":"599d995.0d873e8","type":"function","z":"99199b48.2dd458","name":"","func":"msg.topic = 'SELECT nom, prenom, laser FROM qualifications WHERE password=\"';\nmsg.topic += msg.payload;\nmsg.topic += '\"';\nreturn msg;","outputs":1,"noerr":0,"x":343.75,"y":511.75,"wires":[["529b8705.5dc6e"]]},{"id":"c8fc14fe.09824","type":"mqtt-broker","z":"","name":"","broker":"192.168.111.250","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a84e5547.15bb8","type":"MySQLdatabase","z":"","host":"","port":"3306","db":"labsud","tz":""}]