Node-Red/interface_admin.json
[{"id":"5f61fcec.2cfb94","type":"ui_dropdown","z":"99199b48.2dd458","name":"","label":"Machine","place":"Select option","group":"7e73036a.af67cc","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Laser","value":"laser","type":"str"},{"label":"Porte","value":"porte","type":"str"}],"payload":"","topic":"","x":218.75,"y":706.25,"wires":[["5a3a19cd.87d59"]]},{"id":"40a05505.7d1dbc","type":"ui_text_input","z":"99199b48.2dd458","name":"","label":"Tag utilisateur","group":"c3fda017.2a806","order":0,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":238.75,"y":266.25,"wires":[["a45d36f.ac574c8"]]},{"id":"5a3a19cd.87d59","type":"change","z":"99199b48.2dd458","name":"","rules":[{"t":"set","p":"machine","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":469.75,"y":707.25,"wires":[[]]},{"id":"8d875ed0.8779f8","type":"switch","z":"99199b48.2dd458","name":"","property":"machine","propertyType":"flow","rules":[{"t":"eq","v":"laser","vt":"str"},{"t":"eq","v":"porte","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":637.75,"y":766.25,"wires":[["e4bcceaf.1f22e8"],["e1ad61b8.0a6db8"]]},{"id":"a45d36f.ac574c8","type":"change","z":"99199b48.2dd458","name":"","rules":[{"t":"set","p":"tag","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450.75,"y":266.25,"wires":[[]]},{"id":"e4bcceaf.1f22e8","type":"mqtt out","z":"99199b48.2dd458","name":"","topic":"labsud/laser/tag","qos":"","retain":"","broker":"c8fc14fe.09824","x":827.75,"y":722.25,"wires":[]},{"id":"e1ad61b8.0a6db8","type":"mqtt out","z":"99199b48.2dd458","name":"","topic":"labsud/door/tag","qos":"","retain":"","broker":"c8fc14fe.09824","x":827.25,"y":799.25,"wires":[]},{"id":"a7d822bd.43dbc","type":"change","z":"99199b48.2dd458","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tag","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":472.25,"y":766.25,"wires":[["8d875ed0.8779f8"]]},{"id":"6bfea869.a33058","type":"ui_button","z":"99199b48.2dd458","name":"","group":"7e73036a.af67cc","order":3,"width":0,"height":0,"passthru":false,"label":"Débloquer la machine","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":258.75,"y":766.25,"wires":[["a7d822bd.43dbc"]]},{"id":"65b76527.02579c","type":"ui_button","z":"99199b48.2dd458","name":"","group":"c3fda017.2a806","order":0,"width":0,"height":0,"passthru":false,"label":"Vérifier tag","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":228.75,"y":326.25,"wires":[["dda44aa.4c39fb8"]]},{"id":"dda44aa.4c39fb8","type":"function","z":"99199b48.2dd458","name":"","func":"msg.topic = 'SELECT nom, prenom, laser, door FROM qualifications WHERE tag=\"';\nmsg.topic += flow.get('tag');\nmsg.topic += '\"';\nreturn msg;","outputs":1,"noerr":0,"x":428.75,"y":326.25,"wires":[["e55fa808.47897"]]},{"id":"1f3fd7da.dea8f8","type":"ui_text","z":"99199b48.2dd458","group":"c3fda017.2a806","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":889.75,"y":324.25,"wires":[]},{"id":"e55fa808.47897","type":"mysql","z":"99199b48.2dd458","mydb":"a84e5547.15bb8","name":"","x":567.75,"y":325.25,"wires":[["a2753a98.46364","a43d6419.421688"]]},{"id":"a2753a98.46364","type":"function","z":"99199b48.2dd458","name":"","func":"if (msg.payload.length > 0) {\n    temp = msg.payload[0].prenom + \" \" + msg.payload[0].nom;\n    msg.payload = temp;\n} else {\n    msg.payload = \"Introuvable\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":732.25,"y":324.25,"wires":[["1f3fd7da.dea8f8"]]},{"id":"c09e9c0e.e40e28","type":"ui_text_input","z":"99199b48.2dd458","name":"","label":"Nom","group":"f3a61e11.62ad3","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":208.75,"y":426.25,"wires":[["bc55dd2c.cee478"]]},{"id":"5a041804.78fb","type":"ui_text_input","z":"99199b48.2dd458","name":"","label":"Prenom","group":"f3a61e11.62ad3","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":218.75,"y":486.25,"wires":[["6440f7d6.e09df8"]]},{"id":"a130d12c.904a88","type":"function","z":"99199b48.2dd458","name":"","func":"msg.topic = 'SELECT tag, laser, door FROM qualifications WHERE nom=\"';\nmsg.topic += flow.get('nom');\nmsg.topic += '\" AND prenom=\"'\nmsg.topic += flow.get('prenom');\nmsg.topic += '\"';\nreturn msg;","outputs":1,"noerr":0,"x":428.75,"y":546.25,"wires":[["46745823.7fd7a"]]},{"id":"46745823.7fd7a","type":"mysql","z":"99199b48.2dd458","mydb":"a84e5547.15bb8","name":"","x":568.75,"y":546.25,"wires":[["e3f3a719.b5c728","f131b733.8c11c"]]},{"id":"1a61e822.543998","type":"ui_button","z":"99199b48.2dd458","name":"","group":"f3a61e11.62ad3","order":3,"width":0,"height":0,"passthru":false,"label":"Rechercher","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":228.75,"y":546.25,"wires":[["a130d12c.904a88"]]},{"id":"e3f3a719.b5c728","type":"function","z":"99199b48.2dd458","name":"","func":"if (msg.payload.length > 0) {\n    msg.payload = msg.payload[0].tag;\n} else {\n    msg.payload = \"Introuvable\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":728.75,"y":546.25,"wires":[["59037464.ab1514"]]},{"id":"bc55dd2c.cee478","type":"change","z":"99199b48.2dd458","name":"","rules":[{"t":"set","p":"nom","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":448.75,"y":426.25,"wires":[[]]},{"id":"6440f7d6.e09df8","type":"change","z":"99199b48.2dd458","name":"","rules":[{"t":"set","p":"prenom","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":458.75,"y":486.25,"wires":[[]]},{"id":"59037464.ab1514","type":"ui_text","z":"99199b48.2dd458","group":"f3a61e11.62ad3","order":4,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":888.75,"y":546.25,"wires":[]},{"id":"dc527d29.d84b6","type":"ui_text_input","z":"99199b48.2dd458","name":"","label":"Tag utilisateur","group":"7e73036a.af67cc","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":238.75,"y":646.25,"wires":[["d3d2eaa3.792908"]]},{"id":"d3d2eaa3.792908","type":"change","z":"99199b48.2dd458","name":"","rules":[{"t":"set","p":"tag","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":448.75,"y":646.25,"wires":[[]]},{"id":"a8e6d3ab.084ff","type":"ui_text","z":"99199b48.2dd458","group":"c3fda017.2a806","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":889.75,"y":375.25,"wires":[]},{"id":"a43d6419.421688","type":"function","z":"99199b48.2dd458","name":"","func":"if (msg.payload.length > 0) {\n    temp = \"Autorisations :<br/>\"\n    if (msg.payload[0].laser == 1) temp += \"&nbsp-Laser <br/>\"\n    if (msg.payload[0].door == 1) temp += \"&nbsp-Porte <br/>\"\n    msg.payload = temp;\n} else {\n    msg.payload = \"\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":732.75,"y":376.25,"wires":[["a8e6d3ab.084ff"]]},{"id":"614f32a0.c140b4","type":"ui_text","z":"99199b48.2dd458","group":"f3a61e11.62ad3","order":5,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":888.75,"y":606.25,"wires":[]},{"id":"f131b733.8c11c","type":"function","z":"99199b48.2dd458","name":"","func":"if (msg.payload.length > 0) {\n    temp = \"Autorisations :<br/>\"\n    if (msg.payload[0].laser == 1) temp += \"&nbsp-Laser <br/>\"\n    if (msg.payload[0].door == 1) temp += \"&nbsp-Porte <br/>\"\n    msg.payload = temp;\n} else {\n    msg.payload = \"\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":731.75,"y":607.25,"wires":[["614f32a0.c140b4"]]},{"id":"7e73036a.af67cc","type":"ui_group","z":"","name":"Débloquage sans badge","tab":"7f97488d.26e88","order":3,"disp":true,"width":"6","collapse":false},{"id":"c3fda017.2a806","type":"ui_group","z":"","name":"Vérification tag","tab":"7f97488d.26e88","order":2,"disp":true,"width":"6","collapse":false},{"id":"c8fc14fe.09824","type":"mqtt-broker","z":"","name":"","broker":"192.168.111.250","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a84e5547.15bb8","type":"MySQLdatabase","z":"","host":"","port":"3306","db":"labsud","tz":""},{"id":"f3a61e11.62ad3","type":"ui_group","z":"","name":"Recherche utilisateur","tab":"7f97488d.26e88","order":1,"disp":true,"width":"6","collapse":false},{"id":"7f97488d.26e88","type":"ui_tab","z":"","name":"Débloquage des machines","icon":"dashboard"}]